* {
    margin: 0;
    padding: 0;
}

html {
    background: url(index_files/index_background.png);
  }

@font-face {
    font-family: 'Code Pro Bold';
    src: url('Code-Pro-Bold.eot');
    src: url('Code-Pro-Bold.eot?#iefix') format('embedded-opentype'),
    url('Code-Pro-Bold.woff') format('woff'),
    url('Code-Pro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Regular';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular.woff') format('woff'),
    url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.header{
    height: 73px;
    width: 100%;
    background-color: #6A5ACD;
}

.header_title{
    position: absolute;
    width: 100%;
    text-align: center;

    margin-top: 20px;
    font-family: 'Code Pro Bold';
    font-weight: 400;
    font-size: 28;
    line-height: 34px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.header_logo{
    position: absolute;
    margin-left: 15%;
    margin-top: 5px;

    width: 70px;
    height: 64.3px;
}

.menu{
    width: 100%;
    height: 107px;
    justify-content: center;
    display: flex;

}

.menu_1{
    position: absolute;
    background-color:#A294FF;
    height: 21px;
    width: 100%;
    top: 73px; 
} 

.menu_2{
    width: 825px;
    height: 107px;
    display: flex;
}

.circle_1{
    width: 150px;
    height: 75px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: #A294FF;
    margin-left: 45px;
    justify-content: center;
    display: flex;
}

.menu_text{
    position: absolute;
    text-align: center;
    margin-top: 28px;

    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    text-decoration: none;
}

.intro{
    
    background-size: cover;
   /* background-color:  red;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro_title{
    margin-top: 18px;

    font-family: 'Code Pro Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #000000;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro{
    background-size: cover;
   /* background-color:  red;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro_main
{
    width: 95%;
    /*background-color:  blue;*/
    background-size: cover;
    display: flex;
    justify-content: center;

    margin-top: 47px;
}

.intro_left{
    width: 229px;
    height: 327px;
    background: #D9D9D9;
    border-radius: 15px;
    margin-right: 3.5%;

}

.intro_right{
    width: 229px;
    height: 327px;
    background: #D9D9D9;
    border-radius: 15px;
    margin-left: 3.5%;
}

.info{
    background: url(arhiv_files/arhiv_cloud_background.png) center;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info_main{
    width: 95%;
    background-size: cover;
    margin-top: 43px;
    display: flex;
    align-items: center;
    justify-content: center;  

    margin-top: 200px;
}

.button{
    position: relative;
    border: 5px dashed #FFFFFF;
    width: 210px;
    height: 61px;
    margin-left: 19.5px;
    margin-right: 19.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_inside{
    width: 192px;
    height: 40px;
    background: #A294FF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    color: #000000;

    cursor: pointer;
}
