* {
    margin: 0;
    padding: 0;
}

html {
    background: url(index_files/index_background.png);
  }

@font-face {
    font-family: 'Code Pro Bold';
    src: url('Code-Pro-Bold.eot');
    src: url('Code-Pro-Bold.eot?#iefix') format('embedded-opentype'),
    url('Code-Pro-Bold.woff') format('woff'),
    url('Code-Pro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Regular';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular.woff') format('woff'),
    url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    .header{
        height: 73px;
        width: 100%;
        background-color: #6A5ACD;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    
    .header_inside{
        /*background-color: red;*/
        width: 95%;
        display: flex;
        justify-content: center;
    
    }
    
    .header_title{
        /*background-color: green;*/
        background-size: cover;
        justify-content: center;
        display: flex;
        align-items: center;
        font-family: 'Code Pro Bold';
        font-weight: 400;
        font-size: 28;
        line-height: 34px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }
    
    .header_logo{
        width: 70px;
        height: 64.3px;
        margin-right: 50px;
    }
    
    .header_empty{
        width: 70px;
        height: 64.3px;
        /*background-color: #000000;*/
        margin-left: 50px;
    }

.menu{
    width: 100%;
    height: 107px;
    justify-content: center;
    display: flex;

}


.menu_1{
    position: absolute;
    background-color:#A294FF;
    height: 21px;
    width: 100%;
    top: 73px; 
} 

.menu_2{
    width: 825px;
    height: 107px;
    display: flex;
}

a:hover { 
    margin-top: 20px;
}

.circle_1{
    width: 150px;
    height: 75px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: #A294FF;
    margin-left: 45px;
    justify-content: center;
    display: flex;
}

.menu_text{
    position: absolute;
    text-align: center;
    margin-top: 28px;

    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    text-decoration: none;
}

.intro{
    
    background-size: cover;
   /* background-color:  red;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro_title{
    margin-top: 18px;

    font-family: 'Code Pro Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #000000;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro_main
{
    width: 95%;
    /*background-color:  blue;*/
    background-size: cover;
    display: flex;
    justify-content: center;

    margin-top: 47px;
}

.intro_img{
    width: 590px;
    height: 379px;
    border-radius: 100px;
    margin-right: 7.6%;
}

.intro_right{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14;
    line-height: 23px;

    color: #000000;

    width: 492px;
   /* height: 379px;*/
    border-radius: 100px;
    background: #CCC5FA;
    margin-left: 7.6%;
    padding: 49px;
    display: flex;
    text-align: justify;
}

.info_for_authors{
     background: url(authors_files/authors_cloud_background.png) center;
     width: 100%;
     height: 617px;
     display: flex;
     /*justify-content: center;*/
     align-items: center;
     flex-direction: column;
}

.info_title{
    max-width: 1045px;
    text-align: center;

    margin-top: 220px;
}

.title_text{
    font-family: 'Code Pro Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #000000;
}

.info_main{
    width: 95%;
    /*background-color:  blue;*/
    background-size: cover;
    /*height: 200px;*/
    margin-top: 43px;
    display: flex;
    align-items: center;
    justify-content: center; 

    margin-top: 50px;
}

.info_help1{
    display: flex;
    align-items: center;
    height: fit-content;
}

.info_icon{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-size: cover;

    width: 200px;
}

.icon_text{
    font-family: 'Roboto Regular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;

color: #000000;
}

.icon_circle{
    position: relative;
    border: 5px dashed #FFFFFF;
    border-radius: 60px;
    height: 100px;
    width: 100px;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_photo{
    width: 85px;
    height: 85px;
    cursor: pointer;
}

.header_burger{
    display: none;
}


@media screen and (max-width: 1000px) {
    .intro_main
    {
        flex-direction: column;
        align-items: center;
    }

    .intro_img{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .intro_right{
        margin-top: 50px;
        margin: 5px;
    }

    .info_title{
        
        width: 95%;
        text-align: center;
    
        margin-top: 200px;

        /*background-color: aqua;*/
    }
}

@media screen and (max-width: 800px) {
    .intro{
        margin-top: -70px;
    }

    a.silka:hover { 
        margin-top: 0px;
        margin-right: 50px;
    }

    .menu_1{
        position: absolute;

        top: 0;
        right: 0;

        width: auto;
        height: auto;
        background: none; 
    }
    
    .menu_2{
        position: fixed;
        right: -100%;
        background-color: #A294FF;
        flex-direction: column;
        width: 150px;
        height: 650px;
        border-radius: 500px 0px 0px 500px;
        align-items: center;
        z-index: 40;
        top: 0;
        padding-top: 70px;
        transition: all 0.5s ease 0s; 

        padding-right: 50px;
   }

   .circle_1{
        height: 80px;
        border-radius: 100px;
        margin-top: 52px;
        margin-left: 0px;
        margin-right: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   .menu_text{
        text-align: center;
        margin-top: 0px;
        font-size: 23px;
    }
   .header_burger{
        display: block;
        position: relative;
        top: 20px;
        right: 15px;
        width: 40px;
        height: 30px;

        z-index: 100;
    }

    .header_burger::after,
    .header_burger::before{
        content: "";
        position: absolute;
        left: 0;
        height: 3px;
        width: 100%;

        background-color: #FFFFFF;
        transition: all 0.5s ease 0s;
    }

    .header_burger span{
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        height: 3px;
        left: 0;
        top: 13.5px;
        transition: all 0.5s ease 0s;
    }

    .menu_2.active{
        right: 0;
        position: absolute;
    }

    .header_burger::before{
         top: 0;
    }

    .header_burger::after{
        bottom: 0;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 14px;
    }

    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 13px;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .info_icon{
        width: 150px;
    }

}

@media screen and (max-width: 768px) {

    .header_title{
        width: 200px;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .info_icon{
        width: 130px;
        margin-top: -15px;
    }

    .icon_circle{
        margin-top: 10px;
    }
}

@media screen and (max-width: 630px){
    .title_text{
        font-size: 20px;
        line-height: 25px;
    }
        
     .icon_circle{
            height: 65px;
            width: 65px;
        }
        
        .icon_photo{
            width: 50px;
            height: 50px;
        }

     .icon_text{
        font-size: 17px;
        line-height: 20px;
        }
}


@media screen and (max-width: 600px) {
    .intro_right{
        width: fit-content;
    }

    .intro_img{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 540px){
   .info_help1{
    flex-direction: column;
    margin-top: -35px;
   }
   .info_icon{
    margin-top: 20px;
   }

   .empty_block{
    width: 100%;
    height: 70px;
    background-color:#CCC5FA;
   }
}

@media screen and (max-width: 486px){
    .header_title{
        font-size: 14px;
    }

    .header_logo{
        margin-right: 28px;
    }

    .header_empty{
        margin-left: 28px;
    }
}